<!DOCTYPE html>
<html>

  <head>
    <meta charset='UTF-8' />
    <title>Under2 Sig maker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body class='container'>
    <h1>Lets make you a email sig</h1>
    <form action="/show" method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" class="form-control" value="<%= @name %>" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="name">Job title:</label>
        <input type="text" id="title" name="user_title" class="form-control" value="<%= @title %>" placeholder="Enter Job Title">
      </div>
      <div class="form-group">
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_email" class="form-control" value="<%= @email %>" placeholder="Enter Email Address">
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" d="phone" name="user_phone" class="form-control" value="<%= @phone %>" placeholder="Enter Phone Number">
      </div>
      <% if @show_sig == true %>
     
      <button type="submit" class="btn btn-primary">Update sig</button>
      <span ><a class="align-bottom" href="/">Start again</a></span>
      <% else %>
      <button type="submit" class="btn btn-primary">Create Sig</button>
      <% end %>
    </form>

    <% if @show_sig == true %>
    <div class="mt-4"><%=@html %></div>
    <div class="mt-4"><button id="copy" class="btn btn-primary" onclick='selectText()'>Copy HTML to clipboard</button></div>
   <input type="text" id="text-box" style="opacity: 0;" value='<%=@escaped_html64 %>'>
    <% end  %>

    <script type="text/javascript">
function selectText() {
  const input = document.getElementById('text-box');
  input.focus();
  input.select();
  document.execCommand('copy');
}
    </script>
  </body>
</html>